<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloud2bubble.ptsense"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.App_Custom" >
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyProfile"
            android:label="@string/my_profile.self" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/settings"
            android:theme="@android:style/Theme.Holo"
            android:hardwareAccelerated="true" >
        </activity>
        <activity
            android:name=".Sensing"
            android:label="@string/home.option1" >
        </activity>
        <activity
            android:name=".TripReviews"
            android:label="@string/home.option2" >
        </activity>
        <activity
            android:name=".PlanTrip"
            android:label="@string/home.option3" >
        </activity>
    </application>

</manifest>